* {
  margin: 0;
  padding: 0;
}

body {
  background-image: url("../img/Background.png");
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}

nav {
  width: 100vw;
  height: 100%;
  background-color: #ffffff;
  display: flex;
  margin: 0;
  padding: 0;
}

.nav__links {
  display: flex;
  list-style-type: none;
}

.nav__logo img {
  max-width: 100px;
}
