@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;600;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
}

/* fonts for links and lists */

a {
  color: #707070;
  text-decoration: none;
  font-family: "Montserrat", sans-serif;
  font-weight: 1rem;
  font-weight: 500;
}

a:hover {
  text-decoration: underline;
}

.menu__home,
li {
  color: #ff0073;
  font-family: "Montserrat", sans-serif;
  font-weight: 1rem;
  font-weight: 500;
}

ul,
li {
  list-style-type: none;
}

/* header */

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 30px 5%;
}

.menu {
  border: solid 1px blue;
  margin-left: auto; /* aligns the menu element to the right*/
}

.menu li {
  display: inline-block;
  padding: 20px 35px;
}

.nav__logo {
  border: solid 1px fuchsia;
}

.nav__logo--image {
  width: 50%;
}

.nav__search--icon {
  width: 50%;
}

/* main */

main {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-image: url("../img/Background@2x.png");
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.content__left {
  display: flex;
  flex: auto;
  flex-grow: 1;
  flex-basis: 0;
  padding: 5% 5%;
  border: solid 1px purple;
}

.heading-1 {
  font-family: "Montserrat", sans-serif;
  font-size: 4.6875rem;
  font-weight: 300;
}

.heading-2 {
  font-family: "Montserrat", sans-serif;
  font-size: 5.625rem;
  font-weight: 700;
}

.text {
  width: 90%;
  padding: 10px 0;
  font-family: "Montserrat", sans-serif;
  font-size: 1.375rem;
  font-weight: 400;
}

.cta-buy-now {
  margin-top: 50px;
  background-color: #ffffff;
  color: #ff0073;
  border: none;
  padding: 15px 80px;
  border-radius: 25px;
  font-family: "Montserrat", sans-serif;
  font-size: 1.5rem;
  font-weight: 500;
}

.content__right {
  display: flex;
  flex: auto;
  flex-grow: 1;
  flex-basis: 0;
  padding: 5% 5%;
  border: solid 1px green;
}

.content__right--images img {
  width: 70%;
}
