@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
}

/* fonts */

a {
  color: #707070;
  text-decoration: none;
  font-family: "Montserrat", sans-serif;
  font-weight: 1rem;
  font-weight: 500;
}

a:hover {
  text-decoration: underline;
}

.menu__home,
li {
  color: #ff0073;
  font-family: "Montserrat", sans-serif;
  font-weight: 1rem;
  font-weight: 500;
}

ul,
li {
  list-style-type: none;
}

/* header */

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 30px 10%;
}

.menu {
  border: solid 1px blue;
  margin-left: auto; /* aligns the menu element to the right*/
}

.menu li {
  display: inline-block;
  padding: 20px 20px;
}

.nav__logo {
  border: solid 1px fuchsia;
}

.nav__logo--image {
  width: 50%;
}

.nav__search--icon {
  width: 50%;
}
